ul {
    padding-left: 0px;
}

li {
    display: inline;
}

body {
    background-color: indianred;
}

span {
    color: yellow;
    padding: 12px;
    border: 3px solid yellow;
    margin: 20px;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    border-radius: 25px;
}

span#stepIndicator {
    color: black;
    border: none;
}

span#stepIndicator button {
    font-family: "Times New Roman", "Times", "serif";
    font-size: 20px;
    border-radius: 25px;
    padding: 15px;
    background-color: grey;
    border: none;
}

span#stepIndicator p{
    display: none;
    padding: 15px;
}



span#stepIndicator button:hover:enabled {
    background-color: aliceblue;
}

span#stepIndicator button:disabled {
    background-color: gray();
}

span#stepIndicator button:disabled {
    background-color: gray();
}

#spinner {
    display: none;
    margin: 50px;
    font-size: 50px;
    text-align: center;
}

/* spinner animation from loading.io */

.lds-dual-ring {
    display: inline-block;
    width: 150px;
    height: 150px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid black;
    border-color: black transparent black transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}